#S_wrap #S_form-wrap p {
  font-size: 24px;
}
#S_wrap {
  width: 530px;
  margin: 20px auto 0;
  height: 100vh;
}
#S_wrap h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  font-family: tahoma;
  color: rgb(13, 13, 13);
}

#S_form-wrap {
  overflow: hidden;
  height: 447px;
  position: relative;
  top: 0px;
  transition: all 1s ease-in-out 0.3s;
}
#S_form-wrap:before {
  content: "";
  position: absolute;
  bottom: 128px;
  left: 0px;
  background: url("../Images/before.png");
  width: 530px;
  height: 317px;
}
#S_form-wrap:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url("../Images/after.png");
  width: 530px;
  height: 259px;
}

#S_form-wrap.hide:after,
#S_form-wrap.hide:before {
  display: none;
}

#S_form-wrap:hover {
  height: 777px;
  top: -200px;
}
/* #S_wrap #S_form-wrap */
#S_S_form {
  background: white;
  position: relative;
  top: 200px;
  overflow: hidden;
  height: 200px;
  width: 400px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid white;
  border-right: 3px;
  transition: all 1s ease-in-out 0.3s;
}
#S_form-wrap:hover #S_S_form {
  height: 530px;
}
/* #S_wrap #S_form-wrap form */
.S_label {
  margin: 11px 20px 0 0;
  font-size: 15px;
  color: gray;
  text-transform: uppercase;
}

.S_inp_s,
.s_textarea {
  font: 14px normal uppercase, arial, serif;
  color: rgb(121, 108, 108);
  width: 360px;
  height: 37px;
  padding: 0px 10px;
  margin: 0 0 10px 0;
  border: 1px solid #f8f5f1;
  border-radius: 5px;
  background: rgba(252, 245, 245, 0.886);
}

.s_textarea {
  height: 80px;
  padding-top: 14px;
}

.s_textarea:focus,
.S_inp_s:focus {
  background: rgb(252, 245, 245);
}

#S_form-wrap #S_sub {
  position: relative;
  margin-left: 6.3rem;
  font-family: tahoma;
  font-size: 24px;
  color: #fff;
  width: 40%;
  text-align: center;
  opacity: 0;
  background: #4385a99d;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity 0.7s ease-in-out 0s;
  padding: 5px 8px;
  border: 1px solid rgb(128, 128, 128);
  box-sizing: border-box;
}

#S_form-wrap:hover #S_sub {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 1.3s;
}

#S_form-wrap #S_S_form {
  position: relative;
  top: 200px;
  overflow: hidden;
  height: 200px;
  width: 400px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 1s ease-in-out 0.3s;
}

#S_form-wrap:hover #S_S_form {
  height: 530px;
}
