.footer {
  background: #000;
  padding-top: 15px;
  overflow-x: hidden;
  /* padding: 5px 0px; */
  font-family: "Play", sans-serif;
  text-align: center;
  /* z-index: 999; */
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.2% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  padding: 7px;

  transition: 0.5s;
}
.row1 a {
  zoom: 150%;
  text-decoration: none;
  color: gray;
  padding: 7px;

  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}
