@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');

.container {
  margin-left: 1rem;
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  justify-content: space-between;
}

.card {
  width: 200px;
  height: 300px; /* Adjust the height as needed */
  border-radius: 1rem;
  background: rgba(112, 112, 112, 0.558);
  backdrop-filter: blur(4px);
  padding: 5px;
}

.card img {
  width: 90%;
  margin-top: 0.5rem;
  margin-left: 0.65rem;
  height: 70%; /* Adjust the image height as needed */
  object-fit: cover; /* Ensure the image fills the card */
  border-radius: 1rem;
}

.card h3 {
  font-size: 18px;
  text-align: center;
}

.content img {
  width: 100%;
  height: 600px;
}

#n_search {
  margin: 5rem auto;
  margin-top: -0.5rem;
  display: flex;
  justify-content: center;
  width:15rem;
  align-items: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 2rem;
  border-width:0;
  z-index:999;
}


.heading {
  text-align: center;
  margin-bottom: 20px;
}
.search-container {
  position: relative; /* Add position relative to enable pseudo-element positioning */
  background-image: url('https://img.myloview.com/stickers/stone-cooking-banner-kitchen-board-with-vegetables-and-spices-top-view-free-copy-space-700-192806530.jpg');
  height: 14rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.search-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5; /* Adjust the opacity as desired */
}

.search-container p {
  text-align: center;
  margin: 0;
  z-index: 1; /* Ensure the text appears above the pseudo-element */
}







.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: gray;
  color: white;
}

#n_icon{
  /* color:white; */
  z-index:999;
  margin-top: -7.25rem;
  margin-left:13rem;
  /* background-color:rgb(190, 117, 117); */
  border-radius:2rem;
  padding:6px;
}
#n_header{
  margin-left:3rem;
}